
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

html {
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// Skriv din egen CSS under denne linjen, eller importer egne filere med styling i toppen
